<div class="pre-pie-pagina">

  <div class="links-navegacion">
    <div class="">
      <div class="logo-container">
        <img src="/assets/logo.png" alt="" class="logo">
      </div>
    </div>
    <div class="navegacion">
      <ul>
        <li><a class="nav-link" [routerLink]="['/all-artistas']" >Artistas</a></li>
        <li><a class="nav-link" [routerLink]="['/all-lugares']">Lugares</a></li>
        <li><a class="nav-link" [routerLink]="['/all-noticias']" >Noticias</a></li>
        <li><a class="nav-link" [routerLink]="['/all-eventos']">Eventos</a></li>
        <li><a class="nav-link" [routerLink]="['/all-productoras']">Productoras</a></li>
      </ul>
  
    </div>
  </div>
  <div class="sumar">
    <ul class="sumar-li">
      <li ><a href=""class="nav-link" (click)="sumarme('artista',$event)">Sumarme como artista</a></li>
      <li><a href="" class="nav-link" (click)="sumarme('productora' ,$event)">Sumar productora </a></li>
      <li><a href="" class="nav-link" (click)="sumarme('lugar',$event )">Sumar lugar </a></li>
    </ul>
  </div>
</div>
<footer id="contacto">
    <div class="links">
      <a href="https://www.tiktok.com/@patagoniapary" target="_blank"><i class="fa-brands fa-tiktok"></i>
      </a>
      <a href="https://www.instagram.com/patagoniapary/?next=%2F" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <!-- <i class="fa-brands fa-youtube"></i> -->
      <i class="fa-regular fa-envelope" (click)="mail()">
  
      </i>
    </div>  
    <h6>©PATAGONIA PARY 2023</h6>
</footer>