<div class="all-container">
    <div class="">
        <h3>En la siguiente seccion usted podra agregar o editar informacion acerca de las productoras</h3>
        <h4>Luego mas abajo podras ver como quedaria en el layout</h4>
    </div>
    <form class="form-edit" [formGroup]="formAdmin" (submit)="cargarProductora()">
        <div class="form-layout">
            <div>
                <label for="id">Id</label>
                <input type="number"formControlName="id" id="id" [value]="forEdit?.id">
                <label for="img">Imagen</label>
                <input type="text" formControlName="img" id="img" [value]="forEdit?.img">
                <label for="img_list">Imagenes varias</label>
                <input type="text" formControlName="img_list" id="img_list" [value]="forEdit?.img_list">
                <label for="nombre">Nombre</label>
                <input type="text"  formControlName="nombre" id="nombre" [value]="forEdit?.nombre">
                <label for="instagram">Instagram</label>
                <input type="text" formControlName="instagram" id="instagram" [value]="forEdit?.instagram">
                <label for="facebook">Facebook</label>
                <input type="text" formControlName="facebook" id="facebook" [value]="forEdit?.facebook">
            </div>
            <div>
                <label for="tiktok">TikTok</label>
                <input type="text" formControlName="tiktok" id="tiktok" [value]="forEdit?.tiktok">
                <label for="mail">Mail</label>
                <input type="text" formControlName="mail" id="mail" [value]="forEdit?.mail">
                <label for="telefono">Telefono</label>
                <input type="text" formControlName="telefono" id="telefono" [value]="forEdit?.telefono">
                <label for="youtube">Youtube</label>
                <input type="text" formControlName="youtube" id="youtube" [value]="forEdit?.youtube">
                <label for="video_yt">Video Yt</label>
                <input type="text" formControlName="video_yt" id="video_yt" [value]="forEdit?.video_yt">
            </div>
        </div>
        <label for="descripcion">Descripcion</label>
        <textarea name="" id="descripcion" formControlName="descripcion" cols="20" rows="5" value="{{forEdit?.descripcion}}"></textarea>
        <button type="submit">Cargar</button>
    </form>
    <form class="llamar-para-edicion" [formGroup]="formNumber">
        <label for="id_edit">Selecciona artista a editar</label>
        <div id="llamar" >
            <input type="number" formControlName="id_edit" id="id_edit">
            <div>
                <button type="button"  (click)="getForEdit()">Seleccionar</button>
                <button type="button"  (click)="deleteMapping()">borrar</button>
              </div>
        </div>
    </form>
</div>

<app-productoras></app-productoras>