<div class="contenedor">
    <app-back-home></app-back-home>
    <form class="form-admin" [formGroup]="formAdmin" (submit)="cargarProductora()">
      <legend>Formulario de Productoras</legend>
      
          <div class="form-input">
            <label for="id">Id</label>
            <input type="number"formControlName="id" id="id" [value]="forEdit?.id">
          </div>
          <div class="form-input">
            <label for="nombre">Nombre</label>
            <input type="text"  formControlName="nombre" id="nombre" [value]="forEdit?.nombre">    
          </div>
          <div class="form-input">
            <label for="nombre">Ubicacion</label>
            <input type="text"  formControlName="ubicacion" id="nombre" [value]="forEdit?.ubicacion">    
          </div>
          <div class="form-input">
            <label for="img">Imagen</label>
            <input type="text" formControlName="img" id="img" [value]="forEdit?.img">
          </div>
          <div class="form-input">
            <label for="img_list">Imagenes varias</label>
            <input type="text" formControlName="img_list" id="img_list" [value]="forEdit?.img_list">  
          </div>
          <div class="form-input">
          <label for="instagram">Instagram</label>
          <input type="text" formControlName="instagram" id="instagram" [value]="forEdit?.instagram">
          </div>
         
            <div class="form-input">
              <label for="tiktok">TikTok</label>
              <input type="text" formControlName="tiktok" id="tiktok" [value]="forEdit?.tiktok">
            </div>
       
          <div class="form-input">
            <label for="mail">Mail</label>
            <input type="text" formControlName="mail" id="mail" [value]="forEdit?.mail">
          </div>

          <div class="form-input">
            <label for="youtube">Youtube</label>
            <input type="text" formControlName="youtube" id="youtube" [value]="forEdit?.youtube">
          </div>

   
       
          <div class="form-input">
            <label for="video_yt">Video Yt</label>
            <input type="text" formControlName="video_yt" id="video_yt" [value]="forEdit?.video_yt">
          </div>
         
  
      <div class="form-input">
          <label for="descripcion">Descripcion</label>
      <textarea
        name=""
        id="descripcion"
        formControlName="descripcion"
        cols="30"
        rows="5"
        [value]="forEdit?.descripcion"
      ></textarea>
      </div>
      <button type="submit">Cargar</button>
    </form>
   
  </div>

<app-productoras></app-productoras>

