<section class="admin">
    <app-back-home ></app-back-home>

    <form class="form-admin">
        <a  [routerLink]="['/noticias-admin']">
            <button>Noticias</button>
        </a>
        <a  [routerLink]="['/eventos-admin']">
            <button>Eventos</button>
        </a>
        <a  [routerLink]="['/lugares-admin']">
            <button>Lugares</button>
        </a>
        <a  [routerLink]="['/productoras-admin']">
            <button>Productoras</button>
        </a>
        <a  [routerLink]="['/artistas-admin']">
            <button>Artistas</button>
        </a>
    </form>
</section>
<div class="box">
    
</div>