<section class="noticias" id="blog">
  <div class="title-container">
    <h2 class="noticia-title">Noticias</h2>
    <a routerLink="/noticia">ver todos</a>
  </div>

  <div class="all-noticias">
    <div class="card-noticia">
      <img src="/assets/1.jpeg" alt="" class="img-card-noticia" />
      <div class="container-card-noticia">
        <h3>Mazzano llega al sur en el año 2023</h3>
        <p>
          La espera ha llegado a su fin para los amantes de la música
          electrónica en Argentina, ya que Bedouin, el dúo internacionalmente
          aclamado, se prepara para regresar a los escenarios del país después
          de un año de ausencia. La cita es el próximo 5 de noviembre en un
          nuevo
        </p>
        <span>5/11/2023</span>
      </div>
    </div>
    <div class="card-noticia">
      <img src="/assets/1.jpeg" alt="" class="img-card-noticia" />
      <div class="container-card-noticia">
        <h3 routerLink="/noticia">Mazzano llega al sur en el año 2023</h3>
        <p>
          La espera ha llegado a su fin para los amantes de la música
          electrónica en Argentina, ya que Bedouin, el dúo internacionalmente
          aclamado, se prepara para regresar a los escenarios del país después
          de un año de ausencia. La cita es el próximo 5 de noviembre en un
          nuevo
        </p>
        <span>5/11/2023</span>
      </div>
    </div>
    <div class="card-noticia">
      <img src="/assets/1.jpeg" alt="" class="img-card-noticia" />
      <div class="container-card-noticia">
        <h3>Mazzano llega al sur en el año 2023</h3>
        <p>
          La espera ha llegado a su fin para los amantes de la música
          electrónica en Argentina, ya que Bedouin, el dúo internacionalmente
          aclamado, se prepara para regresar a los escenarios del país después
          de un año de ausencia. La cita es el próximo 5 de noviembre en un
          nuevo
        </p>
        <span>5/11/2023</span>
      </div>
    </div>
  </div>
</section>
