
  <section class="noticias" id="blog" *ngIf="noticias">
    <div class="title-container">
      <h3 class="noticia-title new-title">Noticias</h3>
      <a routerLink="/all-noticias">ver todos</a>
    </div>
  
    <div class="all-noticias" *ngIf="noticias">

      <div class="card-noticia"  *ngFor="let noticias of noticias"  >
        <div class="div">
          <img src="{{noticias.img}}" alt="" class="img-card-noticia"[routerLink]=" ['/noticia',noticias.id]"  />
        </div>
        <div class="container-card-noticia">
          <h4 class="enlace" [routerLink]="['/noticia', noticias.id]">{{noticias.titulo}}</h4>
            <p class="fecha">{{noticias.fecha_publi}} </p>
        </div>
      </div>
   
    
    </div>
  </section>
