
.img-container{
    /* width: 80%; */
    margin: 0 auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.package-producer img{
    width: 200px;
}
.package-producer span{
    font-weight: bold;
    font-size: 1.5rem;
}
.package-producer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    height: 100px;
}


.all-container{
    padding: 69px 1rem 1rem;
}

.title-container {
    font-size: 1rem 1rem;
    padding: 0 1rem;
}

.acerca-de{
    font-size: 14px;
    width: 90%;
    margin: 0 auto;
}
.info-productora-container{
    padding: 1rem 1rem;
}

.redes{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}
iframe{
    width: 100%;
    height: 300px;
}
.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section-galeria{
    padding-top: 1rem;
    border-top: .7px solid grey ;
}

.img-container{
    width: 90%;
    margin: 0 auto;
    max-height: 300px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
}

.img-galeria{
    border-radius: 10px;
    width: 100%;
    display: block;
    transition: .3s;
}
.img-show{
    width: 80%;
    margin: 0 auto;   
    display: block;
    max-width: 400px;
}


@media (min-width:800px){
    .img-show{
        width: 100%;
        max-width: 500px;
    }
    .show-entidad{
        display: flex;
        flex-direction: row-reverse;
        padding: 2ren 1rem;
        justify-content: center;
    }
    .info-productora-container{
        padding: 1rem;
        width: 50%;
    }
    
    .show-card{
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
    }

    .package-producer{
        height: 150px;
    }
    .package-producer>img{
        width: 60%;
        margin: 0 auto;
        transition: .2s;
    }
    .package-producer>img:hover{
        width: 63%;
        margin: 0 auto;
    }

    .all-container{
        padding-top:6em ;
    }

    iframe{
        width: 100%;
        height: 400px;
    }
    
  
.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.img-container{
    max-height: 300px;
    overflow: hidden;
    cursor: pointer;
}

.img-galeria{
    width: 100%;
    display: block;
    transition: .3s;
}
.img-galeria:hover{
    width: 110%;
    display: block;
}
.all-container{
    padding-top: 0px;
}   
}

.padding-none{
    padding: none;
}
.img-container-not-video{
    width: 100%;
}



.panel-container{
    padding-top: 60px;
}
.panel{
    height: 30px;
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
}

.panel span{
    color: white;
    padding: 0 .5rem;
    cursor: pointer;
}

.panel span:hover{
    border-bottom: 2px solid white;
}

.is-selected{
    border-bottom: 2px solid white;
}

.proximas-fechas{
    background-color: black;
}

.div{
    padding-top: 2rem;
    max-width: 1300px;
    margin: 0 auto;
}

.next-dates{
    color: white;
    transition: .2s;
}

.next-dates:hover{
    text-decoration: underline;
}

.caja{
    padding-top: 60px;
}