<div class="caja">
    <div class="panel">
        <span (click)="mostrarSeccion('bio')" [ngClass]="{'is-selected': seccionActiva === 'bio' || (!seccionActiva && seccionPredeterminada === 'bio')}">Bio</span>
        <span (click)="mostrarSeccion('fotos')" [ngClass]="{'is-selected': seccionActiva === 'fotos'}">Fotos</span>
        <span (click)="mostrarSeccion('proximas-fechas')" [ngClass]="{'is-selected': seccionActiva === 'proximas-fechas'}">Proximas fechas</span>
    </div>
</div>
<section *ngIf="seccionActiva === 'proximas-fechas'" class="proximas-fechas">
    <div class="div">
        <ul *ngIf="fechas">
            <a [routerLink]="['/eventos', fecha.id]" *ngFor="let fecha of fechas" class="next-dates"><li >{{fecha.nombre}}, {{fecha.ubicacion}} </li></a>
        </ul>
    </div>
</section>
<div class="all-container">

    
    <section class="show-entidad " #showEvento  *ngIf="seccionActiva === 'bio'">   
    
        <article class="info-productora-container">
            <div class="package-producer">
                <img [src]="entidad?.img" alt="" class="logo" width="200px">
            </div>
            <div class="acerca-de">
                <div >
                    <h4>{{entidad?.nombre}}</h4>
                </div>
                <p [innerHTML]="entidad?.descripcion" >
                </p>
            </div>
            <div class="redes">
                <a href="{{entidad?.instagram}}" target="_blank">
                    <i class="fa-brands fa-instagram"  *ngIf="entidad?.instagram"></i>
                </a>
                <a href="{{entidad?.youtube}}" target="_blank">
                    <i class="fa-solid fa-phone"  *ngIf="entidad?.youtube"></i>
                </a>            
                <a (click)="mostrarMail(entidad?.mail)" target="_blank">
                    <i class="fa-solid fa-envelope"  *ngIf="entidad?.mail"></i>
                </a>            
            </div>

        </article>
          
            <div *ngIf="entidad" class="card-evento show-card" >
                    <div class="">
                        <ng-container *ngIf="sanitizedYoutubeVideoUrl; else mostrarImagen">
                            <iframe [src]="sanitizedYoutubeVideoUrl" frameborder="0"></iframe>
                        </ng-container>
                        <ng-template #mostrarImagen>
                            <div class="img-container-not-video">
                                <img [src]="entidad?.facebook" alt=""  class="img-show">
                            </div>
                        </ng-template>    
                    </div>
            </div>


            

    </section>
    <section class="section-galeria" *ngIf="seccionActiva === 'fotos' || seccionActiva === 'bio'">
        <div class="title-container">
            <h4>Fotos</h4>
        </div>
        <div class="galeria">
            <div class="img-container" *ngFor="let fotoUrl of productorasFotos; let i = index" (click)="abrirGaleriaDesdePrincipal(i)">
              <img [src]="fotoUrl" alt="Foto de Productora" class="img-galeria">
            </div>
          </div>
          <app-galeria></app-galeria>
    </section>


    <app-productoras></app-productoras>
</div> 
