.entidades{
    width: 100vw;
    padding-top: 2rem;
}
.card-entidad{
    width: 80%;
    text-align: center;
    margin: 10px auto;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    /* padding: .5rem 2rem; */
    border-radius: 20px;
    padding-top: .5rem;
    color: white;
    background-color: rgb(66, 66, 66);
}
.all-entidades{
    display: flex;
    flex-direction: column;
    height: auto;
}

.card-entidad-img-container{
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-card-entidad{
    width: 75%;
    cursor: pointer;
    max-height: 130px;
    
}

@media (min-width:600px){
    .entidades{
        margin: 0 auto;
        width: 80%;
    }
    .all-entidades{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1%;
        align-items: center;
        justify-content: center;
    }
    .card-entidad{
        width: 100%;
        padding: 0;
    }


    .card-entidad-img-container{
        width: 90%;
        height: 150px;
        display: flex;
        align-items: center;
        margin: 0 auto ;
        justify-content: center;
    }
    .img-card-entidad{
        max-height: 130px;
        transition: .2s;
        cursor: pointer;
    }
    .img-card-entidad:hover{
        width: 84%;
    }
}
@media (min-width:900px){
    .all-entidades{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}