
    <section class="entidades" id="productoras">
      <div class="title-container">
        <h3>Productoras</h3>
        <a routerLink="/all-productoras">ver todos</a>
      </div>
      <div class="all-entidades">
        <div class="card-entidad" *ngFor="let entidad of entidades">
          <div class="card-entidad-img-container">
            <img
              [routerLink]="['/productora', entidad.id]"
              src="{{entidad.img}}"
              alt="{{entidad.nombre}}"
              class="img-card-entidad"
            />
          </div>
          <div class="card-entidad-info">
            <h4 class="h4 enlace"  [routerLink]="['/productora', entidad?.id]" (click)="arriba()">{{entidad.nombre}} <span *ngIf="mostrarId">{{entidad?.id}}</span> </h4>
          </div>
        </div>
      </div>
    </section>

  