<!-- <app-evento [eventoId]="idSelected"  *ngIf="idSelected !== undefined"></app-evento> -->
<app-evento  [eventoId]="idSelected" *ngIf="idSelected"></app-evento>

<div class="all-container">
    <section class="all-eventos">
        <div class="title-container">
            <h2>Eventos</h2>
        </div>
        <div class="all-eventos-container" >
            <div class="card-evento"  *ngFor="let eventos of eventos">
                <div class="img-container">
                    <div class="fecha">
                        <span> {{ eventos.fecha.split('/')[0] }}</span>
                        <span> {{ eventos.fecha.split('/')[1] }}</span>
                        <span> {{ eventos.fecha.split('/')[2] }}</span>
                    </div>                     
                    <img src="{{eventos?.img}} " alt="" class="img-card-evento"  id="{{eventos?.id}}" (click)="capturarValor(eventos.id)">
                </div>
                <div class="info-evento-card">
                    <h3 class="link enlace" (click)="capturarValor(eventos.id)" id="{{eventos?.id}}">{{eventos?.nombre}} </h3>
                    <span *ngIf="mostrarId">{{eventos.id}} </span> 
                    <p>Por: <span class="resaltado link enlace">{{eventos?.organiza}} </span></p>
                    <span> <i class="fa-solid fa-location-dot"></i>{{eventos?.ubicacion}} </span>
                </div>
            </div> 

        </div>
    </section>
</div>