.all-eventos{
    /* padding: 1rem; */
    height: auto;
}
.card-evento{
    width: 90%;
    margin: 0 auto;
    /* margin-top: 20px; */
    padding: 0 1rem;
    border-bottom: .3px solid black;
}

.img-card-evento{
    width:100%;
    transition: opacity .2s;
    cursor: pointer;
}
.img-card-evento:hover{
    opacity: .8;
}

.img-container{
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.fecha{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40px;
    position: absolute;
    z-index: 2;
    top: 0px;
    left:5px;
    border-radius: 20px;
    background-color: white;
    font-weight: bold;
}

.fecha span:nth-child(1){
    background-color: green;
}
.fecha span:nth-child(2){
    background-color:white;
    font-size: 2rem;
}


.info-evento-card{
    /* padding: 1rem 0 0 ; */
    padding: 0 1rem;
    height: auto;
    line-height: 1rem;
}

.info-evento-card h3{
    font-size: 1.5rem;
}
.resaltado{
    color: goldenrod;
    transition: .2s;
}

.resaltado:hover{
    color: rgb(161, 121, 20);
}

.link{
    font-size: 1rem;
    line-height: 1.6rem;
}

@media (min-width:600px){
    .all-eventos-container{
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr ;
        height: auto;
        /* gap: 2% 5%; */
        /* padding: 1rem; */
        width: 100%;
    }
    .card-evento{
        padding: 0;
        width: 80%;
        margin-top: 20px;
        border: 1px solid black;
    }
    .card-evento h3{
        line-height: 1.4rem;
    }
    .all-eventos{
        padding: 2rem 2rem;
    }
}
@media (min-width:890px){
    .all-eventos-container{
        grid-template-columns: 1fr 1fr 1fr ;
        margin-bottom: 4rem;
    }
    
.fecha{

    top: 0px;
    left:5px;
    
}



}
@media (min-width:1190px){
    .all-eventos-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}



