<!-- <app-evento [eventoId]="idSelected"  *ngIf="idSelected !== undefined"></app-evento> -->
<app-evento  [eventoId]="idSelected" *ngIf="idSelected"></app-evento>


    <section class="all-eventos">
        <div class="title-container">
            <h2 class="new-title">Eventos</h2>
        </div>
        <div class="all-eventos-container" >
            <a class="card-evento"  *ngFor="let eventos of eventos" (click)="irA(eventos.id)" >
                <div class="img-container">
                    <div class="fecha">
                        <span> {{ eventos.fecha.split('/')[0] }}</span>
                        <span> {{ eventos.fecha.split('/')[1] }}</span>
                        <span> {{ eventos.fecha.split('/')[2] }}</span>
                    </div>                     
                    <img src="{{eventos?.img}} " alt="" class="img-card-evento"  id="{{eventos?.id}}" (click)="capturarValor(eventos.id)">
                </div>
                <div class="info-evento-card">
                    <h3 class="link enlace" (click)="capturarValor(eventos.id)" id="{{eventos?.id}}">{{eventos?.nombre}} </h3>
                    <i class="fa-solid fa-pen-to-square" (click)="editar(eventos.id, $event)" *ngIf="mostrarId"></i>
                    <i class="fa-solid fa-trash link" (click)="borar(eventos.id, $event)" *ngIf="mostrarId"></i>
                    <p>Por: <span class="resaltado">{{eventos?.organiza}} </span></p>
                    <span> <i class="fa-solid fa-location-dot"></i>{{eventos?.ubicacion}} </span>
                </div>
            </a> 

        </div>
    </section>
