<section class="admin">
    <form  class="form-admin">
        <form class="form-admin" [formGroup]="formUser" (submit)="iniciarSesion(formUser)" *ngIf="loginOrRegister">
            <legend>inicio de secion</legend>
            <div class="form-input">
                <label for="username">Username</label>
                <input type="text" class="form-input" id="username" formControlName="username" >
            </div>
            <div class="form-input">
                <label for="password">Password</label>
                <input type="password" class="form-input" id="password" formControlName="password">
            </div>
            <button type="submit">Login</button>
        </form>

    </form>
</section>