<div class="all-container">
  <div class="div">
    <div class="title-container">
      <h2 class="noticia-title">Noticias</h2>
    </div>
  </div>
  <section class="list-noticias">
    <div class="list-noticias-container">


      <div class="card-noticia-a" *ngFor="let noticias of noticias">
        <span class="fecha-card-a">{{noticias.fecha_publi}}</span>
        <div class="img-card-a-container">
          <img src="{{noticias.img}}" alt="" class="img-card-a link" [routerLink]="['/noticia', noticias.id]">
        </div>
        <span class="enlace" [routerLink]="['/noticia', noticias.id]"> {{noticias.titulo}} </span>
        <span *ngIf="mostrarId"> {{noticias.id}} </span>
        <p class="description noticia parrafo-descrip-card-pequeña">
          {{noticias.resumen}}
        </p>
        <a class="enlace" [routerLink]="['/noticia', noticias.id]">Leer completa...</a>

      </div>
    


    </div>
   </section>
</div>