

@media(min-width:790px){
    .div{
        padding: 0 2rem;
        padding-top: 3.4rem;
        display: flex;
        width: 85%;
        margin: 0 auto;
    }

    
    .list-noticias{
        width: 85%;
        margin: 0 auto;
    }
}
.parrafo-descrip-card-pequeña{
    max-height: 157px;
    overflow: hidden;
    line-height: 1.4;
}
