
  <div class="div">
    <div class="title-container">
      <h2 class="">Noticias</h2>
    </div>
  </div>
  <section class="list-noticias">
    <div class="list-noticias-container">


      <div class="card-noticia-a" *ngFor="let noticias of noticias">
        <div class="img-card-a-container">
          <img src="{{noticias.img}}" alt="" class="img-card-a link" (click)="irA(noticias.id)">
        </div>
        <span class="fecha-card-a">{{noticias.fecha_publi}}</span>
        <span class="enlace" [routerLink]="['/noticia', noticias.id]"> {{noticias.titulo}} </span>
        <div *ngIf="mostrarId"> 
          <i class="fa-solid fa-pen-to-square link" (click)="editar(noticias.id, $event)" *ngIf="mostrarId"></i>
          <i class="fa-solid fa-trash link" (click)="borar(noticias.id, $event)" *ngIf="mostrarId"></i>       
        </div>
        <p class="description noticia parrafo-descrip-card-pequeña">
          {{noticias.resumen}}
        </p>
        <a class="enlace" [routerLink]="['/noticia', noticias.id]">Leer completa...</a>

      </div>
    


    </div>
   </section>
