<div class="all-container">
    <div class="">
        <h3>En la siguiente seccion usted podra agregar o editar informacion acerca de los lugares</h3>
        <h4>Luego mas abajo podras ver como quedaria en el layout</h4>
    </div>
    <form class="form-edit" [formGroup]="formAdmin" (submit)="cargarLocal()">
        <div class="form-layout">
            <div>
                <label for="id">Id</label>
                <input type="number"formControlName="id" id="id" [value]="forEdit?.id">
                <label for="nombre">Nombre</label>
                <input type="text" formControlName="nombre" id="nombre" [value]="forEdit?.nombre">
                <label for="img1">Img1</label>
                <input type="text" formControlName="img1" id="img1" [value]="forEdit?.img1">
                <label for="img2">img2</label>
                <input type="text" formControlName="img2" id="img2" [value]="forEdit?.img2">
                <label for="video">video</label>
                <input type="text" formControlName="video" id="video" [value]="forEdit?.video">
                <label for="instagram">Instagram</label>
                <input type="text" formControlName="instagram" id="instagram" [value]="forEdit?.instagram">
               
            </div>
            <div>
                <label for="img_list">Imagenes varias</label>
                <input type="text" formControlName="img_list" id="img_list" [value]="forEdit?.img_list">
                <label for="ubicacion">Ubicacion</label>
                <input type="text" formControlName="ubicacion" id="ubicacion" [value]="forEdit?.ubicacion">
                <label for="facebook">Facebook</label>
                <input type="text" formControlName="facebook" id="facebook" [value]="forEdit?.facebook">
                <label for="telefono">Telefono</label>
                <input type="text" formControlName="telefono" id="telefono" [value]="forEdit?.telefono">
                <label for="horario">Horario</label>
                <input type="text" formControlName="horario" id="horario" [value]="forEdit?.horario">
                <label for="link_ubi">Link ubi</label>
                <input type="text" formControlName="link_ubi" id="link_ubi" [value]="forEdit?.link_ubi">
            </div>
        </div>
        <label for="descripcion">Descripcion</label>
        <textarea name="" id="descripcion" formControlName="descripcion" cols="30" rows="10" [value]="forEdit?.descripcion"></textarea>
        <button type="submit">Cargar</button>
    </form>
    <form class="llamar-para-edicion" [formGroup]="formNumber">
        <label for="id_edit">Selecciona artista a editar</label>
        <div id="llamar" >
            <input type="number" formControlName="id_edit" id="id_edit">
            <div>
                <button type="button"  (click)="getForEdit()">Seleccionar</button>
                <button type="button"  (click)="deleteMapping()">borrar</button>
              </div>
        </div>
    </form>
</div>

<app-lugares></app-lugares>