<div class="contenedor">
    
    <app-back-home></app-back-home>
    
    <form action="" class="form-admin" [formGroup]="formAdmin" (submit)="cargarLocal()">
        <legend>Formulario de Lugares</legend>
        <div class="form-input">
            <label for="id">Id</label>
            <input type="number" placeholder="Id" id="id" formControlName="id">
        </div>
        <div class="form-input">
            <label for="nombre">Nombre</label>
            <input type="text" placeholder="Nombre" id="nombre" formControlName="nombre">
        </div>
        <div class="form-input">
            <label for="telefono">Telefono</label>
            <input type="phone" placeholder="Telefono" id="telefono" formControlName="telefono">
        </div>
        <div class="form-input">
            <label for="ubicacion">Ubicacion</label>
            <input type="text" placeholder="Ubicacion" id="ubicacion" formControlName="ubicacion">
        </div>
        <div class="form-input">
            <label for="maps">Ubicacion Maps</label>
            <input type="text" placeholder="Ubicacion Maps" id="maps" formControlName="link_ubi">
    </div>
    <div class="form-input">
        <label for="horario">Horario</label>
        <input type="text" placeholder="Horario" id="Horario" formControlName="horario">
    </div>
 
    <!-- <app-upload></app-upload> -->
    <div class="form-input">
        <label for="img1">Ruta de imagen</label>
        <input type="text" placeholder="Ruta de imagen" id="img1" formControlName="img1">
    </div>
    
    <!-- <app-upload></app-upload> -->
    <div class="form-input">
        <label for="img2">Ruta de imagen 2</label>
        <input type="text" placeholder="Ruta de imagen" id="img2" formControlName="img2">
    </div>
    <div class="form-input">
        <label for="instagram">Instagram</label>
        <input type="text" placeholder="Instagram" id="instagram" formControlName="instagram">
    </div>
    <div class="form-input">
        <label for="facebook">Facebook</label>
        <input type="text" placeholder="Facebook" id="facebook" formControlName="facebook">
    </div>
  
    <button type="submit">Ingresar</button>
</form>
</div>
<app-lugares></app-lugares>