<div class="all-container">
    <section class="noticias">
      <div class="noticias-container">
        <article class="noticia-complete" *ngIf="noticia">
          <h2 class="h1">{{noticia.titulo}} </h2>
          <div class="img-noticia-container">
            <img src="{{noticia.img}}" alt="">
          </div>
          <p class="negrita ">{{noticia.resumen}} </p>

          <!-- <p>{{noticia.cuerpo}}</p> -->
          <div class="cuerpo" [innerHTML]="noticia.cuerpo"></div>
        </article>


        <aside class="aside">
          <h5>Principales Noticias</h5>
         
         
          <div class="card-noticia-section" *ngFor="let noticia of noticiaAside">
            <div class="img-card-container" >
              <img src="{{noticia.img}}" alt="">
            </div>    
            <div>        
            <a class="link" (click)="capturarValor($event)" id="{{noticia.id}}">{{noticia.titulo}} </a>
            <br>
            <span>{{noticia.fecha_publi}} </span>
          </div>
          </div>

        </aside>
      </div>
    </section>
  
    <section class="list-noticias">
      <div class="title-container">
        <h2>No te lo pierdas</h2>
        <a routerLink="/all-noticias">ver todos</a>
      </div>
      <div class="list-noticias-container">
  
        <div class="card-noticia-a" *ngFor="let noticia of noticiasMas">
          <span class="fecha-card-a">23 de noviembre</span>
          <div class="img-card-a-container">
            <img src="{{noticia.img}}" alt="" class="img-card-a link" (click)="capturarValor($event)" id="{{noticia.id}}" >
          </div>
          <span class="enlace" (click)="capturarValor($event)" id="{{noticia.id}}" >{{noticia.titulo}} </span>
          <p class="description-noticia-card-a">
            {{noticia.resumen}}
          </p>
          <span class="enlace link" (click)="capturarValor($event)" id="{{noticia.id}}">Leer completa...</span>
        </div>
      
        
   
  
  
      </div>
     </section> 
  </div>