
.noticias{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.noticias-container{
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: 40px;
}

.img-noticia-container{
    overflow: hidden;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-noticia-container img{
    width: 100%;
    height: 400px;
    display: block;
}

p{
    padding: 1rem 0;
}

.negrita{
    font-weight: bold;
}
.h2{
    padding:2rem 0;
    font-size: 3.5rem;
    
}

/* aside */

.aside{
    width: 25%;
    padding: .5rem;
    text-align: center;
    margin: 0 auto;
    height: auto;
    display: none;
}
.noticia-complete{
    width: 100%;
}

.link{
    cursor: pointer;
    color: black;
}

.link:hover{
    text-decoration: underline 1px solid black;
}

.img-card-container{
    overflow: hidden;
    width: 100%;
    height: 100px;
}


.img-card-container img{
    width: 100%;
    display: block;
}

.card-noticia-section{
    border-bottom: 1px solid grey;
    text-align: start;
    margin-bottom: 5px;
}

.all-container{
    padding-top: 70px;
}


@media(min-width:700px){
    .aside{
        display: block;
    }
    .img-card-container{
        overflow: hidden;
        height: 300px;
    }

    .img-card-container{
        height: 150px;
    }
    .img-card-a-container{
        height: 150px;
    }
}
@media(min-width:1000px){
    .aside{
        display: block;
    }
    .img-card-container{
        overflow: hidden;
        height: 150px;
    }
}

