/* Eventos */

.proximos-eventos{
    padding:1rem 2rem;
  
}


.eventos-home{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.title-container>a{
    text-decoration: none;
}

.card-evento{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.card-evento-img{
    width: 100%;
    margin-bottom: 5px;
}

.card-evento h3{
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.card-evento h3:hover{
    color: var(--color4);
}

.evento-seleccionado{
    display: none;
}



@media (min-width:790px){
    .eventos{
        display: flex;
        flex-direction: row;
        height: auto;

    }


    .proximos-eventos{
        padding: 2rem 2rem ;
        margin: 0 auto;
    }

    .eventos-home{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        gap: 20px  10px;
        width: 50%;
    }
    .evento-seleccionado {
        display: block;
    }    
    .card-evento h3{
        line-height: 18px;
    }
    
    .card-evento{
        /* max-height: 300px; */
        display: flex;
        flex-direction: column;
        height: auto;
        line-height: 17px;
        width: 100%;
        max-height: 500px;
        /* justify-content: space-between; */
    }

    .card-evento-contenido{
        width: 80%;
    }
    .card-evento-seleccionado{
        padding: 1rem 2rem;
        /* height: 80vh; */

    }

    .img-evento{
        width: 100%;
        height: 60%;
        /* max-height: 500px; */
    }

    .card-evento-img{
        max-height: 200px;
        min-width: 100px;
    }
    
    .eventos-home{
        width: 100% !important ;
    }
}



.all-container{
    padding: 0;
}


.card-evento-img{
    transition: opacity .2s;
    cursor: pointer;
}
.card-evento-img:hover{
    opacity: .8;
}

