/* Eventos */

.proximos-eventos{
    padding:1rem 2rem;
    width: 90vw;
    
}



.title-container>a{
    text-decoration: none;
}

.card-evento{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    overflow: hidden;
}

.card-evento-img{
    width: 100%;
    margin-bottom: 5px;
}

.card-evento h3{
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.card-evento h3:hover{
    color: var(--color3);
}

.evento-seleccionado{
    display: none;
}
     
.desktop{
    display:none;
}




@media (min-width:790px){
    .eventos{
        /* display: flex; */
        flex-direction: row;
        height: auto;

    }

    .eventos-flex{
        display: flex;
        flex-direction: row;
        height: auto;
    }



    .proximos-eventos{
        padding: 2rem 2rem ;
        margin: 0 auto;
    }

    .eventos-home{
        display: flex;
        height: 100%;
        gap: 1%;
        /* width: 50%; */
    }
    .evento-seleccionado {
        display: block;
    }    
    .card-evento h3{
        line-height: 18px;
    }
    
    .card-evento{
        /* max-height: 300px; */
        display: flex;
        flex-direction: column;
        height: auto;
        line-height: 17px;
        width: 100%;
        max-height: 500px;
        /* justify-content: space-between; */
    }

    .card-evento-contenido{
        width: 80%;
    }
    .card-evento-seleccionado{
        padding: 1rem 2rem;
        /* height: 80vh; */

    }

    .img-evento{
        width: 100%;
        height: 60%;
        /* max-height: 500px; */
    }

    .card-evento-img{
        max-height: 300px;
        min-width: 100px;
    }
    

}



.all-container{
    padding: 0;
}


.card-evento-img{
    transition: opacity .2s;
    cursor: pointer;
}
.card-evento-img:hover{
    opacity: .8;
}

