<div class="all-container">
  <section class="proximos-eventos" id="agenda">
    <div class="title-container">
      <h2>Proximos eventos</h2>
      <a href="#">Ver todos</a>
    </div>
    <div class="eventos">
      <div class="eventos-grid">
        <div class="card-evento">
          <img
            src="/assets/eventos/evento1.jpeg"
            alt=""
            class="card-evento-img"
          />
          <h3>Titulo de la fiesta</h3>
          <span> <i class="fa-solid fa-location-dot"></i>Terraza neuquen</span>
        </div>

        <div class="card-evento">
          <img
            src="/assets/eventos/evento1.jpeg"
            alt=""
            class="card-evento-img"
          />
          <h3>Titulo de la fiesta</h3>
          <span> <i class="fa-solid fa-location-dot"></i>Terraza neuquen</span>
        </div>

        <div class="card-evento">
          <img
            src="/assets/eventos/evento1.jpeg"
            alt=""
            class="card-evento-img"
          />
          <h3>Titulo de la fiesta</h3>
          <span> <i class="fa-solid fa-location-dot"></i>Terraza neuquen</span>
        </div>
      </div>
      <div class="evento-seleccionado">
        <div class="card-evento-seleccionado">
          <img src="/assets/eventos/evento1.jpeg" alt="" class="img-evento" />
          <div class="card-evento-contenido">
            <h3>Titulo de la fiesta</h3>
            <p>
              El sábado 4 de noviembre comienza la temporada 7 de LA PLAYA en la
              que vas a poder disfrutar del sol, la buena música y el deporte a
              pocos kilómetros de la Ciudad de Buenos Aires.
            </p>
            <span>
              <i class="fa-solid fa-location-dot"></i>Terraza neuquen</span
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
