/* Eventos */

.proximos-eventos{
    padding-top: 4rem;
}



.title{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    align-items: center;
}

.card-evento{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    overflow: hidden;
}

.card-evento-img{
    width: 100%;
    margin-bottom: 5px;
}

.card-evento h3{
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}


.evento-seleccionado{
    display: none;
}
     
.desktop{
    display:none;
}




@media (min-width:790px){
 
    .eventos-flex{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: auto;
    }



    .proximos-eventos{
        width: 80%;
        margin: 0 auto;
    }

    .eventos-home{
        display: flex;
        height: 100%;
        gap: 1%;
    }
    .eventos-home-grid{
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        gap: 1%;
    }

    .evento-seleccionado {
        display: block;
    }    
    .card-evento h3{
        line-height: 18px;
    }
    
    .card-evento{
        display: flex;
        flex-direction: column;
        height: auto;
        line-height: 17px;
        width: 100%;
        max-height: 500px;
    }

    .card-evento-contenido{
        width: 80%;
    }
    .card-evento-seleccionado{
        padding: 1rem 2rem;
        /* height: 80vh; */

    }

    .img-evento{
        width: 100%;
        height: 60%;
        /* max-height: 500px; */
    }
    

.card-evento-img{
    transition: opacity .2s;
    cursor: pointer;
}
.card-evento-img:hover{
    opacity: .8;
}

 
    

}





