
  <section class="proximos-eventos" id="agenda" >
    <div class="title-container">
      <h3>Proximos eventos</h3>
      <a routerLink="/all-eventos">Ver todos</a>
    </div>

    <div  class="eventos" [ngClass]="{'eventos-flex': idSeleccionado}">
      <div class="eventos-home desktop"  [ngClass]="{'eventos-home-grid': idSeleccionado}">
        <div class="card-evento"*ngFor="let fiestas of fiestas"  >
          <img
          src={{fiestas.img}}
          id={{fiestas.id}} 
          alt="{{fiestas.nombre}}-{{fiestas.ubicacion}}"
          class="card-evento-img"
          (click)="capturarValor($event)"
          />
          <h3 id={{fiestas.id}} (click)="capturarValor($event)">{{fiestas.nombre}} </h3>
          <span> <i class="fa-solid fa-location-dot"></i>{{fiestas.ubicacion}} </span>
        </div>


      </div>
    <app-evento-select [eventoId]="idSeleccionado"></app-evento-select>
    </div>
  </section>

