.resultado-busqueda{
    padding-top: 4rem ;
    width: 95%;
    margin: 0 auto;
}
.div{
    background-color: rgb(202, 202, 202);
    padding: .5rem .6rem;
}
.resultados-container{
    background-color: rgb(66, 66, 66);
    /* padding-left: 2rem;
    padding-right: 2rem; */
}
.fa-magnifying-glass{
    padding-top: .2rem;
}
.searched{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .1rem .7em ;
    background-color: white;
    color: black;
}
.searched-text{
    border: none;
    width: 100%;
    padding: 0 .5rem;
}
.fa-solid{
    font-size: 1.4rem;
    margin-right: 10px;
    transform: translateY(-1px);
}

.cantindad-resultados{
    padding: .5rem 0;
}

.card-search{
    display: flex;
    gap: 15px;
    padding: .5rem 0;
    border-bottom: .7px solid rgb(202, 202, 202);
    /* margin-bottom: 15px; */
}
.img-container{
    width:20%;
    cursor: pointer;
}
.img{
    width: 100%;
    height: 100%;
    margin-left: 10px;
}
.fecha{
    font-size: .8rem;
    color: rgb(75, 75, 75);
}
.enlace{
    cursor: pointer;
    transition: .3s;
}
.enlace:hover{
    color:var(--rosa-brillante) ;
}

.description-card-peque{
    display: none;
}
.info-sarch-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.h2{
    text-align: center;
}
@media(min-width:790px){
    .img{
        padding-left: 20px;
    }
    .description-card-peque{
        display: block;
    }
    .searched-text{
        font-size: 1.4rem;
    }
    .description-card-peque{
        overflow: hidden;
        line-height: 1.3rem;
        max-height:  60px   ;
    }
    .info-sarch-container{
        width: 70%;
    }
    .resultado-busqueda{
        padding-top: 5rem ;
        width: 70%;
        margin: 0 auto;
    }
}

