<aside class="aside" id="aside">
  <div class="gif-container">
    <img src="/assets/video/djnieve.gif" alt="" class="gif">
    <img src="/assets/video/djnieve.gif" alt="" class="gif">
    <img src="/assets/video/djnieve.gif" alt="" class="gif celu">
    <img src="/assets/video/djnieve.gif" alt="" class="gif celu">
  </div>

  <div class="aside-container">
    <h2 class="title-aside">Sumate a la PlayList de  <span>Spotify</span></h2>
    <button class="aside-btn"><a href="https://open.spotify.com/playlist/6gCq0iwMqeZbr0hsJ3En6p?si=02f32ba6e2964f36" target="_blank">Sumarme</a></button>
  </div>
  

</aside>




