<aside class="aside">
    <!-- <video src="/assets/video/djnieve (2).mp4" autoplay loop muted class="video-celu" ></video> -->
    <!-- <video src="/assets/video/djnievecompu.mp4" autoplay loop muted class="video-semi"></video> -->
    <video src="/assets/video/djnieve (2).mp4" onloadedmetadata="this.muted = true" autoplay loop class="video-celu"></video>
    <video src="/assets/video/djnieve.mp4" onloadedmetadata="this.muted = true" autoplay loop class="video-semi"></video>
    <video src="/assets/video/videodesktop.mp4" autoplay loop   class="video-desktop"></video>
    <div class="aside-container">
      <h2 class="title-aside">Sumate a la PlayList de  <span>Spotify</span></h2>
      <button class="aside-btn">Sumarme</button>
    </div>
</aside>

