.img-evento{
    width: 100%;
    max-height: 500px;
    display: block;
}


.contenedor{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.a-white{
    color: white;
}

.desktop{
    display: none;
}

.card-evento-seleccionado{
    margin-bottom: 10px;
}

.movil{
    max-width: 500px;
    margin: 0 auto;
}
.card-evento-contenido{
    padding: 0 .5rem;
}
@media (min-width:790px){
    .card-evento-contenido{      
        line-height: 20px;
        margin: 0 auto;
    }
    .evento-seleccionado{
        width: 100%;
        margin-left: 20px;
    }
    .contenedor{
        margin-top: 5px;
    }
   
    
    .parrafo-description-event{
        padding: 0;

    }
    .card-evento-contenido{
        padding-top: .5rem;
    }
    .movil{
        display: none;
    }
    .desktop{
        display:block;
    }
    .img-evento{
        width: 95%;
   
    }
    .enlace2{
        transition: .2s;
        color: goldenrod;
    }
    .enlace2:hover{
        color: rgb(255, 183, 0);
        cursor: pointer;
    }
    
}


.card-evento-contenido{
    padding-top: .5rem;
}


.img-evento{
    transition: opacity .2s;
    cursor: pointer;
}
.img-evento:hover{
    opacity: .8;
}

.enlace{
    padding: 0;
    line-height: 17px;
}