<div class="all-container">
  <section class="lugares" id="lugares" *ngIf="lugares.length>1">
    <div class="title-container">
      <h2 class="noticia-title">Lugares</h2>
      <a routerLink="/all-lugares">ver todos</a>
    </div>
    <div class="all-lugares">
      <div class="card-lugar" *ngFor="let lugar of lugares">
        <div class="card-lugar-img">
          <img
            src="{{lugar.img1}}"
            alt=""
            class="card-lugar-a"
          />
          <img
            src="{{lugar.img2}}"
            alt=""
            class="card-lugar-b"
          />
        </div>
        <div class="card-lugar-info">
          <h3 [routerLink]="['/lugar', this.lugar.id]" class="enlace">{{lugar.nombre}} </h3>
          <div>
            <p>
              {{lugar.descripcion}}
            </p>

            <div class="div-card-lugar">
              <span>lun-viernes 8 a 19hs</span>
              <span>{{lugar.ubicacion}} </span>
            </div>
          </div>
          <div class="card-lugar-info-inferior">
            <div class="card-lugar-links">
              
              <a href="{{lugar?.instagram}}" target="_blank">
                <i class="fa-brands fa-instagram"  *ngIf="lugar?.instagram"></i>
            </a>
            <a href="{{lugar?.facebook}} " target="_blank">
                <i class="fa-brands fa-youtube"  *ngIf="lugar?.facebook"></i>
            </a>
            <a href="{{lugar?.telefono}}" target="_blank">
                <i class="fa-solid fa-phone"  *ngIf="lugar?.telefono"></i>
            </a>
            </div>
            <div class="ubi-link" [innerHTML]="sanitizedGoogleMapsUrl"></div>

          </div>
        </div>
      </div>
    
    </div>
  </section>
</div>
