/*Seccion de lugares  */

.lugares{
    padding: 2rem;
}
.card-lugar {
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
    max-width: 500px;
}

.card-lugar-img{
    width: 50%;
    cursor: pointer;
}

.div-card-lugar>span{
    font-weight: bold;
}
.div-card-lugar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .3rem;
}

h3{
    text-align: center;
}
.card-lugar-links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    border: 1px solid black;
}

.ubi-link{
    width: 100%;
    border: 1px solid black;
    height: 70px;
}
.parrafo-descrip-card-pequeña{
    max-height: 90px;
    overflow: hidden;
    line-height: 1.4;
}

.seguir-leyendo{
    position: absolute;
    bottom:-17px;
    color: rgb(67, 67, 124);
}


.div{
    position: relative;
    padding: 0 ;
}


@media (min-width:890px){
    .parrafo-descrip-card-pequeña{
        max-height:40px;
        position: relative;
        bottom:10px ;
    }
    .card-lugar{
        display: flex;
        width: 95%;
        max-width: none;
    }
    .card-lugar-imgs-container{
        width: 30%;
    }
    
    .card-lugar-img{
        width: 100%;
    }
    .card-lugar-info{
        position: relative;
        width: 70%;
        padding: .5rem;
    }

    .desktop{
        display: none;
    }

    .div-card-lugar{
        flex-direction: row;
        justify-content: space-around;
        position: absolute;
        bottom: 60px;
        left: 0;
        right: 0;
    }

    .card-lugar-info-inferior{
        display: flex;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .p{
        padding: .5remm 1rem;
    }
}

@media (min-width:990px){
    .parrafo-descrip-card-pequeña{
        max-height:63px;
    }
}

@media (min-width:1090px){
    .card-lugar-img{
        width: 50%;
    }
    .card-lugar-info{
        width: 50%;
    }

    .card-lugar-imgs-container{
        width: 50%;
        display: flex;
    }

    .desktop{
        display: block;
    }

    .parrafo-descrip-card-pequeña{
        max-height:44px;
    }
}


@media (min-width:1190px){
    .parrafo-descrip-card-pequeña{
        max-height:63px;
    }
}
@media (min-width:1290px){
    .parrafo-descrip-card-pequeña{
        max-height:90px;
    }
}

