<div class="all-contianer">
    <div class="panel-container">
        <div class="panel">
            <a href="#" class="item-panel  is-selected">Bio</a>
            <a href="#" class="item-panel">fotos</a>
            <a href="#" class="item-panel">redes</a>
        </div>
    </div>
    <div>
    <div class="noticia-layout ">
        <div>
    <section class="artista-ind">
        <article class="about">
            <div class="location">
                <div>
                    <i class="fa-solid fa-location-dot"></i> 
                </div>
                <div>
                    <span>Neuquen, Neuquen, Argentina</span>
                </div>
            </div>
            <h4>{{artista?.seudonimo}} </h4>
            <img src="{{artista?.img}}" alt="" class="profile-img">
            <p [innerHTML]="artista?.descripcion">
               
            <!-- </p> -->
        </article>
        <article class="fotos">
            <h4 class="h4">Fotos</h4>
            <div class="galeria">
                <img src="/assets/artistas/guus.jpg" alt="" class="img-galeria">
                <img src="/assets/artistas/guus.jpg" alt="" class="img-galeria">
                <img src="/assets/artistas/guus.jpg" alt="" class="img-galeria">
                <img src="/assets/artistas/guus.jpg" alt="" class="img-galeria">
                <img src="/assets/artistas/guus.jpg" alt="" class="img-galeria">
            </div>
        </article>
        <article class="video">
            <h4 class="h4">video</h4>
            <iframe  src="https://www.youtube.com/embed/4M-I8jYrMFs?si=WcvoVAM3ALzL2hMs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </article>

    </section>
    
</div>
    <section class="redes">
        <h4 class="h4"> Redes</h4>
        <div class="">        
            <i class="fa-brands fa-tiktok"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-regular fa-envelope"></i>
        </div>
    </section>
</div>
<article class="musica">
    <h4 class="h4">Que lo disfrutes</h4>
    <iframe width="100%"  scrolling="no" frameborder="no" allow="autoplay"
        src=" https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/293&amp;">
    </iframe>
</article>
<app-artistas ></app-artistas>

</div>



    <!-- <app-artista></app-artista> -->
</div>