<div class="all-contianer">
    <div class="panel-container">
        <div class="panel">
            <span (click)="mostrarSeccion('bio')" [ngClass]="{'is-selected': seccionActiva === 'bio' || (!seccionActiva && seccionPredeterminada === 'bio')}">Bio</span>
            <span (click)="mostrarSeccion('fotos')" [ngClass]="{'is-selected': seccionActiva === 'fotos'}">Fotos</span>
            <span (click)="mostrarSeccion('multimedia')" [ngClass]="{'is-selected': seccionActiva === 'multimedia'}">Multimedia</span>
        </div>
    </div>
    <div>
    <div class="artista-layout">
        <div>
    <section class="artista-ind">
        <article  class="about">
            <div class="location">
                <div>
                    <i class="fa-solid fa-location-dot"></i> 
                </div>
                <div>
                    <span>{{artista?.ubicacion}} </span>
                    <span>Neuquen, Argentina.</span>
                </div>
            </div>
            <h4>{{artista?.seudonimo}} </h4>
            <img src="{{artista?.img}}" alt="" class="profile-img" *ngIf="seccionActiva === 'bio'">
            <p [innerHTML]="artista?.descripcion" *ngIf="seccionActiva === 'bio'">
            </p>
        </article>
        <article *ngIf="seccionActiva === 'fotos' || seccionActiva==='bio'" class="fotos">
            <h4 class="h4">Fotos</h4>
            <div class="galeria">
                <img src="/assets/artistas/tomas1.JPG" alt="" class="img-galeria">
                <img src="/assets/artistas/tomas2.JPG" alt="" class="img-galeria">
                <img src="/assets/artistas/tomas.jpg" alt="" class="img-galeria">
            </div>
        </article>
        <article *ngif='(artista.youtube) && (seccionActiva === "multimedia" || seccionActiva==="bio")'class="fotos">
            <h4 class="h4">Videos</h4>
            <iframe [src]="sanitizedYoutubeVideoUrl" frameborder="0"></iframe>
        </article>
      
        
 
           
    </section>
    
</div>
    <section class="redes">
  
            <h4 class="h4"> Redes</h4>

      
        <div class="redes-links">        
            <a href="{{artista?.tiktok}}" target="_blank"> 
                <i class="fa-brands fa-tiktok" *ngIf="artista?.tiktok"></i>
            </a>
            <a href="{{artista?.instagram}}" target="_blank">
                <i class="fa-brands fa-instagram"  *ngIf="artista?.instagram"></i>
            </a>
            <a href="{{artista?.youtube}} " target="_blank">
                <i class="fa-brands fa-youtube"  *ngIf="artista?.youtube"></i>
            </a>
            <a href="{{artista?.spotify}}" target="_blank">
                <i class="fa-brands fa-spotify"  *ngIf="artista?.spotify"></i>
            </a>
            <a href="{{artista?.soundcloud}}" target="_blank">
                <i class="fa-brands fa-soundcloud"*ngIf="artista?.soundcloud"></i>
            </a>
        </div>
    </section>
</div>
<!-- <article *ngIf="seccionActiva === 'multimedia'" class="musica"> -->
<article *ngIf="seccionActiva === 'bio' || seccionActiva === 'multimedia'" class="musica">
    <h4 class="h4">Que lo disfrutes</h4>
    <iframe width="100%"  scrolling="no" frameborder="no" allow="autoplay"
        src=" https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/293&amp;">
    </iframe>
</article>
<app-artistas ></app-artistas>

</div>

</div>