<div class="all-container">
  <div class="title">
    <h3>Nos encantaria que seas parte</h3>
  </div>

  <section >
    <ul>
      <li>Djs</li>
      <li>Productoras</li>
      <li>Lugares</li>
    </ul>
  </section>

  <section class="sumarte">
    <p>PatagoniaPary es una pagina web creada con el objetivo de contribuir a la escena de la musica electronica Patagonica Argenginra. La regino posee grandes talentos  y excelentes lugares y fiestas que la gente que viene a disfrutar de la Patagonica e incluso la gente recidente merece conocer  y deleitarse con ello.
    </p>
    <p>
        De ahi proviete su nombre PATAGONIAPARY.AR.  Nuestra meta es que las fiestas de aca sean un motivo mas para venir.  Este espacio busca que sea facil para el consumidor encontrar propuestas desde djs, hasta bares par conocer. Fiestas a las que salir o informacion para leer para que pueda acercarse mas y que su experiencia sea unica.
    </p>

    <p>
        Pensada de manera comunitaria, la pagina busca que esto crezca de manera comunitaria. 
    </p>
  </section>
</div>
