/* app-galeria-completa.component.css */

.galeria-completa {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ajusta según sea necesario para asegurar que esté por encima de otros elementos */
  }
  
  .fa-xmark {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: white;
    font-size: 3rem;
  }
  
  
  .imagen-actual {
    text-align: center;
  }
  
  .img-galeria-completa {
    max-width: 600px; /* Ajusta según sea necesario */
    max-height: 100vh; /* El 100vh es el 100% de la altura de la ventana */
  }
  
  .boton-anterior,
  .boton-siguiente {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    color: white;
    cursor: pointer;
  }
  
  .boton-anterior {
    left: 10px;
  }
  
  .boton-siguiente {
    right: 10px;
  }
  
