<div class="contenedor">
    <app-back-home></app-back-home>
    <form class="form-admin" [formGroup]="formAdmin" (submit)="cargarEvento()">
        <legend>Formulario de Eventos</legend>
      
          <div class="form-input">
              <label for="id">Id</label>
              <input
                type="number"
                formControlName="id"
                id="id"
                [value]="forEdit?.id"
              />
          </div>
          <div class="form-input">
              <label for="nombre">Nombre</label>
          <input
            type="text"
            formControlName="nombre"
            id="nombre"
            [value]="forEdit?.nombre"
          />
          </div>
          <div class="form-input">
              <label for="fecha">Fecha</label>
          <input
            type="text"
            formControlName="fecha"
            id="fecha"
            [value]="forEdit?.fecha"
          />
          </div>
          <div class="form-input">
              <label for="djs">Djs</label>
          <input
            type="text"
            formControlName="djs"
            id="djs"
            [value]="forEdit?.djs"
          />
          </div>
          <div class="form-input">
              <label for="ubicacion">Ubicacion</label>
          <input
            type="text"
            formControlName="ubicacion"
            id="ubciacion"
            [value]="forEdit?.ubicacion"
          />
          </div>
         
            <div class="form-input">
              <label for="ubicacion_link">Ubicacion Maps</label>
              <input
                type="text"
                formControlName="ubicacion_link"
                id="ubicacion_link"
                [value]="forEdit?.ubicacion_link"
              />
            </div>
       
            <app-upload></app-upload>
          <div class="form-input">
              <label for="img">Ruta Img</label>
          <input
            type="text"
            formControlName="img"
            id="img"
            [value]="forEdit?.img"
          />
          </div>
          <div class="form-input">
              <label for="precio">Precio</label>
          <input
            type="text"
            formControlName="precio"
            id="precio"
            [value]="forEdit?.precio"
          />
          </div>
          <div class="form-input">
              <label for="descripcion">Descripcion</label>
          <input
            type="text"
            formControlName="descripcion"
            id="descripcion"
            [value]="forEdit?.descripcion"
          />
          </div>
       
   
        <div class="form-input">
          <label for="organiza">Organiza</label>
          <input
            type="text"
            formControlName="organiza"
            id="organiza"
            [value]="forEdit?.organiza"
          />
        </div>
          
  
     
      <button type="submit">Cargar</button>
    </form>
   
  </div>
<app-eventos></app-eventos>