<div class="all-container">
    <div class="">
        <h3>En la siguiente seccion usted podra agregar o editar informacion acerca de los eventos</h3>
        <h4>Luego mas abajo podras ver como quedaria en el layout</h4>
    </div>
    <form class="form-edit" [formGroup]="formAdmin" (submit)="cargarEvento()">
        <label for="id">Id</label>
        <input type="number"formControlName="id" id="id">
        <label for="fecha">Fecha</label>
        <input type="text" formControlName="fecha" id="fecha">
        <label for="djs">Djs</label>
        <input type="text" formControlName="djs" id="djs">
        <label for="ubicacio">Ubicacion</label>
        <input type="text" formControlName="ubicacion" id="ubicacion">
        <label for="ubicacion_link">Link Ubicacion</label>
        <input type="text" formControlName="ubicacion_link" id="ubicacion_link">
        <label for="img">Imagen</label>
        <input type="text" formControlName="img" id="img">
        <label for="precio">Precio</label>
        <input type="text" formControlName="precio" id="precio">
        <label for="descripcion">Descripcion</label>
        <textarea name="" id="descripcion" formControlName="descripcion" cols="30" rows="10"></textarea>
        <label for="organiza">Organiza</label>
        <input type="text" formControlName="organiza" id="organiza">
        <button type="submit">Cargar</button>
    </form>
</div>