<div class="panel">
    <a href="" [routerLink]="['/admin']">
        <i class="fa-solid fa-house"></i>
    </a>
    <div class="panel-options">
        <a href="" [routerLink]="['/noticias-admin']">
            <button class="btn-admin">Noticias</button>
        </a>
        <a href="" [routerLink]="['/lugares-admin']">
            <button class="btn-admin">Lugares</button>
        </a>
        <a href="" [routerLink]="['/artistas-admin']">
            <button class="btn-admin">Artistas</button>
        </a>    
        <a href="" [routerLink]="['/eventos-admin']">
            <button class="btn-admin">Eventos</button>
        </a>    
        <a href="" [routerLink]="['/productoras-admin']">
            <button class="btn-admin">Productoras</button>
        </a>    
    </div>
</div>