/* Seccion de artistas */
.artistas{
    padding: 2rem 2rem;
    height: auto;
}

.img-card-artista{
    width: 100%;
    cursor: pointer;
    border-radius: 15px;
}

.card-artista{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-artista{
    padding: 1rem 0;
    position: relative;
    box-sizing: border-box;
}

.card-artista-container h3{
    margin-top: 10px;
    cursor: pointer;
}
.card-artista-container h3:hover{
    color: var(--color4);
}

.show-artista{
    display: none;
}

.card-links{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 2%;
    background-color: white;
    width: 100%;
}


@media (min-width:700px){
    .all-artistas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        /* height: auto; */
    }
    .card-artista{
        padding: 0;
        width: 100%;
    }
    .display-artistas-container__active{
        display: flex;
        height: auto;
        gap: 5%;
        transition: display .3s;
    }
    
}




/* Agregado en cuanto al despliegue  */

.display-artistas-container__active{
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    gap: 2%;
    transition: display .3s;
}

.all-artistas__active{
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 1rem;
    transition: grid-template-columns .3s, width .3s;
    /* justify-content: start; */
    align-items: center;
    height: auto !important;
}

.show-artista__active{
    display: block;
    width: 100%;
    transition: .1s;
}

.informacion-artista {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    padding: 1rem;
    border-radius: 20px;
}

.informacion-artista_active {
    opacity: 1;
    transform: translateY(0);
}

.img-artista-display{
    width: 80%;
}


.parrafo-descrip-card-pequeña{
    max-height: 200px;
    overflow: hidden;
    line-height: 1.4;
}

.desktop{
    display: none;
}


@media (min-width:700px){
    .display-artistas-container__active{
        flex-direction: row;
    }
    .show-artista__active{
        width: 50%;
    }
    .all-artistas__active{
        width: 50%;
    }
    .desktop{
        display: block;
    }
    .movil{
        display: none;
    }
}




/* Estilos de card desplegada */
.card-grande{
    background-color: grey;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}

.card-artista .fa-xmark {
    /* display: none; */
    position: absolute;
    right: 50%;
    top: 2%;
    opacity: 0;
    transition: opacity .3s;
    
  }
  .card-artista:hover .fa-xmark {
    opacity: .7;
    transition: .3s;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    display: block;
  }
  .card-movil{
    opacity: 0  ;
    transition: opacity .3s;
}


.mostrar-card{
    opacity: 1;
    transition: opacity .3s;

}
  