<div class=" artistas" id="artistas" *ngIf="artistasListCel">
  <div class="artistas-container-all">
    <section class="artistas movil">
      <div class="title-container">
        <h2 class="new-title">Artistas</h2>
        <a (click)="mostrarTodosLosArtistas()" class="enlace" *ngIf="enlace"
          >ver todos</a
        >
      </div>
      <div
      class="all-artistas">
      <div
        class="card-artista"
        *ngFor="let artista of artistasListCel">
        <img
          src="{{ artista.img }}"
          alt="{{artista.nombre}}"
          class="img-card-artista"
          (click)="mostrarCard(artista)"
        />
        <div class="card-artista-container">
          <h4 class="title-artista enlace" (click)="mostrarCard(artista)">
            {{ artista.seudonimo }}  
                     </h4>

        </div>
  
        <div
        class="card-movil" *ngIf="artista.mostrarCard" [ngClass]="{'mostrar-card':artista.mostrarCard}">
        <p
          [innerHTML]="artista.descripcion"
          class="parrafo-descrip-card-pequeña"
        ></p>
        <span
          [routerLink]="['/artista', artista.id]"
          class="enlace"
          >Leer mas...</span
        >
        <div class="card-links">
       
          <a href="{{ artista.youtube }} " target="_blank">
            <i class="fa-brands fa-youtube" *ngIf="artista.youtube"></i>
          </a>
          <a href="{{ artista.spotify }}" target="_blank">
            <i class="fa-brands fa-spotify" *ngIf="artista.spotify" ></i>
          </a>
          <a (click)="mostrarMail(artista.mail)" >
            <i class="fa-solid fa-envelope"*ngIf="artista?.mail"></i>
        </a>
        <a href="{{ artista.instagram }}" target="_blank">
          <i class="fa-brands fa-instagram"*ngIf="artista.instagram"></i>  
        </a>
        <a href="{{ artista.soundcloud }}" target="_blank"ng >
          <i class="fa-brands fa-soundcloud" *ngIf="artista.soundcloud"></i>
        </a>
        <a href="{{artista?.pretskit}}" target="_blank">
          <i class="fa-solid fa-share"*ngIf="artista?.pretskit"></i>
      </a>
        </div>
      </div>
      </div>
    </div>
  
  
    </section>
  
    <section class="artistas desktop" *ngIf="artistasList">
      <div class="title-container">
        <h3 class="new-title">Artistas</h3>
        <a (click)="mostrarTodosLosArtistas()" class="enlace" *ngIf="enlace"
          >ver todos</a
        >
      </div>
  
      <div
        class="display-artistas-container"
        [ngClass]="{ 'display-artistas-container__active': cardGrandeActive }"
      >
        <div
          class="all-artistas"
          [ngClass]="{ 'all-artistas__active': cardGrandeActive }"
        >
          <div
            class="card-artista"
            *ngFor="let artista of artistasList"
            (click)="showArtista(artista)"
          >
           <div class="img-container">
            <img
            src="{{ artista.img }}"
            alt={{artista.nombre}}
            class="img-card-artista"
            (click)="showArtista(artista)"
          />
           </div>
            <div class="card-artista-container">
              <h4 class="title-artista enlace" (click)="showArtista(artista)">
                {{ artista.seudonimo }}
              </h4>
          
            </div>
          </div>
        </div>
  
        <div
          (window:scroll)="onScroll($event)"
          class="show-artista"
          [ngClass]="{ 'show-artista__active': cardGrandeActive }"
          *ngIf="artistasService.artistaSeleccionado$ | async as selectedArtista"
        >
          <div class="card-artista card-grande" *ngIf="showCard">
            <i class="fa-solid fa-xmark" (click)="cerrarCardMediana()"></i>
            <img
              src="{{ selectedArtista.img }}"
              alt={{selectedArtista.nombre}}
              class="img-card img-artista-display"
              (click)="mostrarDetallesArtista(selectedArtista)"
            />
            <div class="card-artista-container">
              <h3
                class="title-artista"
                (click)="mostrarDetallesArtista(selectedArtista)"
                [id]="selectedArtista.id"
              >
                {{ selectedArtista.seudonimo }}
              </h3>
              <div
                class="informacion-artista"
                [ngClass]="{ 'informacion-artista_active': showInfoArtista }"
              >
                <p
                  [innerHTML]="selectedArtista.descripcion"
                  class="parrafo-descrip-card-pequeña"
                ></p>
                <span
                  (click)="mostrarDetallesArtista(selectedArtista)"
                  [id]="selectedArtista.id"
                  class="enlace"
                  >Leer mas...</span
                >
                <div class="card-links">
                  <a href="{{ selectedArtista?.tiktok }}" target="_blank">
                    <i class="fa-brands fa-tiktok" *ngIf="selectedArtista.tiktok"></i>
                  </a>
                  <a href="{{ selectedArtista.youtube }} " target="_blank">
                    <i class="fa-brands fa-youtube" *ngIf="selectedArtista.youtube"></i>
                  </a>
                  <a href="{{ selectedArtista.spotify }}" target="_blank">
                    <i class="fa-brands fa-spotify" *ngIf="selectedArtista.spotify" ></i>
                  </a>
                  <a (click)="mostrarMail(selectedArtista.mail)">
                    <i class="fa-solid fa-envelope"*ngIf="selectedArtista?.mail"></i>
                </a>
                <a href="{{ selectedArtista.instagram }}" target="_blank">
                  <i class="fa-brands fa-instagram"*ngIf="selectedArtista.instagram"></i>  
                </a>
                <a href="{{ selectedArtista.soundcloud }}" target="_blank">
                  <i class="fa-brands fa-soundcloud" *ngIf="selectedArtista.soundcloud"></i>
                </a>
                <a href="{{selectedArtista?.pretskit}}" target="_blank">
                  <i class="fa-solid fa-share"*ngIf="selectedArtista?.pretskit"></i>
              </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
 
</div>
