<div class="all-container">
  <section class="artistas" id="artistas">
    <div class="title-container">
      <h2>Artistas</h2>
      <a href="#">ver todos</a>
    </div>
    <div class="display-artistas-container">
      <div class="all-artistas">
        <div class="card-artista">
          <img
            src="/assets/artistas/Tomas.JPG"
            alt=""
            class="img-card-artista"
          />
          <div class="card-artista-container">
            <h3 class="title-artista">Tom Carbonetti</h3>
          </div>
        </div>
        <div class="card-artista">
          <img
            src="/assets/artistas/Tomas.JPG"
            alt=""
            class="img-card-artista"
          />
          <div class="card-artista-container">
            <h3 class="title-artista">Tom Carbonetti</h3>
          </div>
        </div>
        <div class="card-artista">
          <img
            src="/assets/artistas/Tomas.JPG"
            alt=""
            class="img-card-artista"
          />
          <div class="card-artista-container">
            <h3 class="title-artista">Tom Carbonetti</h3>
          </div>
        </div>
      </div>
      <div class="show-artista">
        <div class="card-artista">
          <img
            src="/assets/artistas/Tomas.JPG"
            alt=""
            class="img-card-artista img-artista-display"
          />
          <div class="card-artista-container">
            <h3 class="title-artista">Tom Carbonetti</h3>
            <div class="informacion-artista">
              <p>
                Tomas Carbonettim nacido en la provicncia de Buenos Aires en
                19999m resindido en Neuquen Capital actualmente.
              </p>
              <p>
                Metido en el ambiente musical desde chico ha tocado varuedad de
                instruments. a los 14 años comenzo sus orimeros contactos con la
                nusica electronicam a los 15 empieza a incursionar en el Dj'ingm
                paara llegar a los 16 años de edad pinchando en fiestas locales
                bares y boloches de la zona.
              </p>
              <div class="card-links">
                <i class="fa-brands fa-tiktok"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-regular fa-envelope"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
