<div class="all-contianer">
    <div class="panel-container">
        <div class="panel">
            <span (click)="mostrarSeccion('bio')" [ngClass]="{'is-selected': seccionActiva === 'bio' || (!seccionActiva && seccionPredeterminada === 'bio')}">Bio</span>
            <span (click)="mostrarSeccion('fotos')" [ngClass]="{'is-selected': seccionActiva === 'fotos'}">Fotos</span>
            <span (click)="mostrarSeccion('multimedia')" [ngClass]="{'is-selected': seccionActiva === 'multimedia'}">Multimedia</span>
        </div>
    </div>
    <div>
    <div class="artista-layout" *ngIf="lugar">
        <div>
    <section class="artista-ind">
        <article  class="about">
            <div class="location">
                <div>
                    <i class="fa-solid fa-location-dot"></i> 
                </div>
                <div>
                    <span>{{lugar.ubicacion}}</span>
                </div>
            </div>
            <h4>{{lugar?.nombre}} </h4>
            <img src="{{lugar?.img1}}" alt="" class="profile-img" *ngIf="seccionActiva === 'bio'">
            <p [innerHTML]="lugar?.descripcion" *ngIf="seccionActiva === 'bio'">
               
            <!-- </p> -->
        </article>
        <article *ngIf="seccionActiva === 'fotos'|| seccionActiva ==='bio'" class="fotos">
            <h4 class="h4">Fotos</h4>
            <div class="galeria">
                <div class="img-container" *ngFor="let fotoUrl of lugarFotos; let i = index" (click)="abrirGaleriaDesdePrincipal(i)">
                  <img [src]="fotoUrl" alt="Foto del lugar" class="img-galeria">
                </div>
              </div>
    <app-galeria></app-galeria>

        </article>
        <article *ngIf='(lugar.video)&& (seccionActiva === "bio" || seccionActiva === "multimedia")'
        class="video">
            <h4 class="h4">video</h4>
            <iframe  [src]="sanitizedYoutubeVideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </article>

    </section>
    
</div>
    <section class="redes ">
  
        
        <h4 class="h4"> Redes</h4>
      
            <div class="">        
            <a href="{{lugar?.instagram}}" target="_blank">
                <i class="fa-brands fa-instagram"  *ngIf="lugar?.instagram"></i>
            </a>
            <a href="{{lugar?.facebook}} " target="_blank">
                <i class="fa-brands fa-youtube"  *ngIf="lugar?.facebook"></i>
            </a>
            <a href="{{lugar?.telefono}}" target="_blank">
                <i class="fa-solid fa-phone"  *ngIf="lugar?.telefono"></i>
            </a>
        </div>
        <article *ngIf="lugar.link_ubi" class="ubicacion">
           <h4 class="h4">Ubicación</h4>
           <div class="ubication" [innerHTML]="sanitizedGoogleMapsUrl" ></div>
        </article>
    </section>
</div>

<app-lugares ></app-lugares>

</div>

</div>