/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,500;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


:root{
    --color1 : #000000;
    --color2 : #252635;
    --color3 : #565672;
    --color4 : #8f8eb8;
    --color5 : #d1ccff;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Para quitarle los estilos por defecto a las listas y los links */
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.all-container{
    margin: 0 auto;
    max-width: 1300px;
}

.title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos generales de logos a redes sociales */

.fa-tiktok{
    cursor: pointer;
    color: #000000;
    font-size: 200%;
}
.fa-facebook{
    font-size: 200%;
    color:  #1877F2;
    cursor: pointer;
}
.fa-instagram{
    background: linear-gradient(135deg, #E4405F, #405DE6);
    -webkit-background-clip: text;
    font-size: 200%;
    background-clip: text;
    color: transparent;
    font-size: 200%;
    cursor: pointer;
}

.fa-youtube{
    cursor: pointer;
    font-size: 200%;
    color: #FF0000;
}
.fa-envelope{
    cursor: pointer;
    font-size: 200%;
    background: linear-gradient(90deg, #DB4437, #F4B400, #0F9D58, #4285F4);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


.btn-btn{
    padding: .2rem 0; 
    width: 50%;
    background:#252635;
    border-radius: 20px;
    color: white;
    margin-left: 3rem;
}

