/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,500;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


:root{
    --color1 : #000000;
    --color2 : #252635;
    --color3 : #565672;
    --color4 : #8f8eb8;
    --color5 : #d1ccff;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Para quitarle los estilos por defecto a las listas y los links */
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.pagina-principal .all-container {
    padding-top: 0;
  }

.all-container{
    margin: 0 auto;
    max-width: 1300px;
    min-height: 80vh;
}

.pagina-principal .all-container {
    min-height: auto;
}


:not(.pagina-principal) .all-container {
    padding-top: 60px; /* Ajusta el valor según tus necesidades */
}

.title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem ;
}

/* Estilos generales de logos a redes sociales */

.fa-tiktok{
    cursor: pointer;
    color: #000000;
    font-size: 200%;
}
.fa-facebook{
    font-size: 200%;
    color:  #1877F2;
    cursor: pointer;
}
.fa-instagram{
    background: linear-gradient(135deg, #E4405F, #405DE6);
    -webkit-background-clip: text;
    font-size: 200%;
    background-clip: text;
    color: transparent;
    font-size: 200%;
    cursor: pointer;
}

.fa-youtube{
    cursor: pointer;
    font-size: 200%;
    color: #FF0000;
}
.fa-envelope{
    cursor: pointer;
    font-size: 200%;
    background: linear-gradient(90deg, #DB4437, #F4B400, #0F9D58, #4285F4);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.fa-phone{
    cursor: pointer;
    font-size: 150%;
    color: blue;
}
.fa-soundcloud{
    color: #FF5500;
    font-size: 200%;
}
.fa-spotify{
    color:  #1DB954;
    font-size: 200%;
}

.btn-tech{
    padding: .2rem 0; 
    width: 50%;
    background:#252635;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition:  .2s;
}
.btn-tech:hover{
    opacity: .7;
    background: none;
    color: #000000;
}


.link{
    cursor: pointer;
}
.enlace{
    cursor: pointer;
    line-height: 15px;
    padding: .5rem 0;
}


/* Estilos genericos de nocicias. */


/* Seccion de mas noticias */
.list-noticias{
    margin-bottom: 4rem;
}
.card-noticia-a{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0;
    overflow-x: hidden;
}

.card-noticia-a p{
    font-weight: 400;
    opacity: .8;
    font-size: 14px;
    padding: 0;
}

.description-noticia-card-a{
    max-height: 150px;
    overflow: hidden;
    line-height: 1.4;
}

.list-noticias-container{
    display: flex;
    justify-content: center;
    gap: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding: 0 1rem;
}

.fecha-card-a{
    position: relative;
    top: 40px;
    left: 20px;
    border-radius: 10px;
    background-color: var(--color5);
    text-align: center;
    opacity: .7;
}


.enlace:hover{
    color: var(--color3);
}

.img-card-a-container{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.img-card-a{
    width: 100%;
    transition: .3s;
    margin: 0 auto;
}

.img-card-a:hover{
    width: 110%;
}



@media(min-width:700px){
    .list-noticias-container{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}
@media(min-width: 1000px){
    .list-noticias-container{
        display: grid;   
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

a{
    color: black;
}

.btn-tech{
    width:300px;
    color: white;
}

