<div class="all-container">
    <section class="show-evento " #showEvento  *ngIf="eventoSelected$ | async as eventoSelected">   
        
            <div   class="evento-seleccionado" >
                <div class="img-container">
                    <div class="fecha">
                        <span *ngFor="let fecha of fecha">{{fecha}}</span>
                    </div>
                    <img src="{{eventoSelected?.img}}" alt="" class="img-card-evento grande">
                </div>
                <div class="info-evento-card">
                    <h3 class="link enlace">{{eventoSelected?.nombre}} </h3>
                    <span class="celu">Por: 
                         <a  *ngFor="let org of organiza" (click)="irA(organiza)"><span class="enlace2  link" *ngIf="organiza">{{org?.nombre}}</span></a>
                    </span>
                    <span> <i class="fa-solid fa-location-dot"></i>{{eventoSelected?.ubicacion}}</span>
                </div>
            </div>


            <article class="info-evento-container">
                <h4 class="title-container">Ofrecido por</h4>
                <div class="package-producer"  >                  
                        <a  *ngFor="let org of organiza" (click)="irA(organiza)"><span class="enlace2" *ngIf="organiza">{{org?.nombre}}</span></a>
                </div>
                <div class="acerca-de">
                    <div class="title-container">
                        <h4>Acerca de</h4>
                    </div>
                    <p>
                        {{eventoSelected?.descripcion}}
                    </p>

                    <div class="line-up" *ngIf="lineup">
                        <div class="title-container">
                            <h4>Line up</h4>
                        </div>
                        <ul>
                            <li *ngFor="let dj of enlacesDJs" >
                              <a *ngIf="dj.id" [class.enlace]="dj.id" class="enlace2" [routerLink]="['/artista', dj.id]">{{ dj.seudonimo }}</a>
                              <span *ngIf="!dj.id">{{ dj.seudonimo }}</span>
                            </li>
                          </ul>
                          
                    </div>
                    
                    <div class="adquirir-entrada">
                        <a href="https://api.whatsapp.com/send/?phone=5492994535581&text&type=phone_number&app_absent=0" target="_blank" class="bnt-tech" *ngIf="eventoSelected.precio"><button class="btn-tech" >Comprar Entrada</button></a>
                        <span *ngIf="!eventoSelected.precio"><strong>Entrada libre y gratuita</strong></span>
                    </div>
                     <div class="ubication" [innerHTML]="sanitizedGoogleMapsUrl" *ngIf="eventoSelected.ubicacion_link"></div>
                   
                </div>

            </article>

    </section>
   
</div>