.btn-panel-container{
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
}

.form-layout{
    display: flex;
}

.form-layout>div{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.all-container{
    padding-top:65px ;
}

.llamar-para-edicion{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.form-edit{
    display: flex;
    flex-direction: column;
}