<div class="all-container">
  <h5>Elegi la seccion a administrar</h5>
  <div class="btn-panel-container">
    <button class="btn-admin" routerLink="/artistas-admin">Artistas</button>
    <button class="btn-admin" routerLink="/productoras-admin">Productoras</button>
    <button class="btn-admin" routerLink="/eventos-admin">Eventos</button>
    <button class="btn-admin" routerLink="/noticias-admin">Noticias</button>
    <button class="btn-admin" routerLink="/lugares-admin">Lugares</button>
  </div>
  <button class="btn-admin" (click)="cerrarSession()">salir</button>

</div>
