/* Seccion del carrousel */
.section-carrousel{
    overflow: hidden;
}

.carousel-item>img{
    height:100vh;
}
/* corregi los botones para que esten mas a la orilla */
.carousel-control-prev {
    position: absolute;
    transform: translatex(-10%);
}

.carousel-control-next{
    position: absolute;
    transform: translatex(10%);
} 

@media (min-width:760px){
    .section-carrousel{
        height: 90vh;
        /* border: 1px solid red; */
    }
}


/* seccion buscadora inicial */
.searcher{
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    gap: 15px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1000px;
}

.searcher>div{
    display: flex;
    gap: 1%;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    background: white;
    padding-right: .4rem;
}
.searcher>div>input{
    width: 100%;
    border: none;
    padding: .4rem .4rem ;
}

.searcher>div>label>i{
    color: green;
}

.searcher>button{
    padding: .3rem 0;
    width: 100%;
    border-radius: 2px;
    background: var(--color3);
    color: white;
    transition: .3s;
} 

.searcher>button:hover{
    background-color: #8f8eb8;
    transition: .3s;
} 


.select{
    width: 100%;
    background: white;
    padding: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 20px; */
    position: relative;

}
.select>li{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    transition: .1s;
    margin: 0 auto;
    width: 100%;
}
.select>li:hover{
    border: .3px solid black;
}
ul{
    padding-left: 0;
}